.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black{
  background: black;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Times New Roman';
}

.orient{
  top: 100px;
  align-items:left;
  text-align: left;
  background: gray;
}

.container-img {
  position: absolute;
  top: 125px;
  left: 50px;
  max-width:415px;
  max-height:415px;
  background: gray;
  width: auto;
  height: auto;

}

.left{
   float: left;
   height:500px;
   width:700px;
   background-color:#FF0;
}

.right1{
  float: right;
  height:300px;
  width:649px;
  background-color:rgb(255, 0, 157);
}


.right2{
  float: right;
  height:300px;
  width:649px;
  background-color:rgb(51, 255, 0);
}

.head{
  float: right;
  height:150px;
  width:649px;
  background-color:rgb(76, 0, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;

}

.galery{
  float: left;
  height:100px;
  width:700px;
  background-color:rgb(0, 25, 248);
  

}

.img{
  border: solid black;
  margin-left: 25px;
  margin-right: 25px;
}



.header{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.detalhes{
  font-size: 15px;
  color: gray;
  text-align: left;

}

button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ff0000 0%,
		#ff0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff0000),
		to(#ff0000));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 0px solid #ff0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
    margin-left: 25px;
    margin-right: 25px;
}
